.msglist {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  text-align: center;
  width: 200px;
  height: 100px;
}
.back-header{
  width:100%;
  height:60px;
  position:fixed;
  top:0;
}
.back-btn{
  width:100%;
  height:100%;
}
.head{
/*  margin-top: 60px;*/
  padding: 10px;
  border-bottom: 2px solid royalblue;
  background-color:#fff;
}
.head-title{
  font-size: 26px;
}
.msg-list{
  display: flex;
  flex-direction: column;
/*  margin-top: 50px;*/
  padding: 0 10px;
}
.msg-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
}
.msgtel{
  padding: 5px;
  font-size: 20px;
  color: blue;
}
.msginfo{
  padding: 5px;
  font-size: 22px;
}
.nodatawrap{
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.noborder{
  border-bottom: 0;
}
.msg-header{
  display:flex;
  justify-content: space-between;
}
.msgType{
  font-size:20px;
  color: red;
}