.container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.log {
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 98%;
}

.logarea {
    flex-direction: column;
    width: 100%;
    height: 35%;
}

.buttonarea {
    flex-direction: column;
    display: flex;
    width: 100%;
}

.btn {
    margin-top:15px;
    width: 20%;
    height: 80px;
    border-radius: 10px;
    border-width:1px;
}

.div-button {
    flex-direction: column;
    width: 98%;
    height: 100%;
}
.circleall{
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 4%;
}
.divider {    
    margin: 10px;
    color: rgb(0, 0, 0);
    stroke-width: 3px;
  }