#wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: white;
}

#mini_container {
    width: 100%;
    height: 100%;
    align-items: flex-end;
    background-image: url("/common/widget.png");
    background-size: cover;
    background-repeat: no-repeat;
    display-index: 2;
}

#mini_title {
    height: 16px;
    width: 40px;
    font-size: 16px;
    margin-start: 12px;
    margin-bottom: 12px;
    color: rgba(255,255,255,0.9);
}

#normal_container {
    width: 100%;
    height: 18px;
    flex-direction: column;
    display-index: 1;
    flex-weight: 1;
}

#items_container {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    margin-start: 12px;
    margin-end: 16px;
    min-width: 126px;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 12px;
}

#image {
    width: 100%;
    height: 64%;
    border-radius: 10px;
}

#space1 {
    width: 100%;
    height: 9%;
}

#normal_title {
    height: 20px;
    width: 100%;
    font-size: 12px;
    color: rgba(0,0,0,0.9);
}

#space2 {
    width: 100%;
    height: 2%;
}

#normal_content {
    height: 10px;
    width: 100%;
    font-size: 10px;
    color: rgba(0,0,0,0.6);
    text-overflow: ellipsis;
    max-lines: 1;
}